.cal-cover {
  transition: .5s ease-in-out;
  width: fit-content;
  background-color: lightgray;
  margin: auto;
  margin-top: 4rem;
  padding: 2rem 1rem;
  border-radius: 5%;
  position: relative;
  background: url(bg.jpg) center / cover no-repeat;
}

.cal-grid {
  height: 80%;
  width: 100%;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: [mon] 4rem [tue] 4rem [wed] 4rem [thu] 4rem [fri] 4rem [sat] 4rem [sun] 4rem;
  grid-template-rows: 2rem auto;
}

.cal-item {
  padding: 35% 0;
  text-align: center;
  background-color: gray;
}

.mon {
  grid-column: mon;
}

.tue {
  grid-column: tue;
}

.wed {
  grid-column: wed;
}

.thu {
  grid-column: thu;
}

.fri {
  grid-column: fri;
}

.sat {
  grid-column: sat;
}

.sun {
  grid-column: sun;
}

.current {
  background-color: lightblue;
}

h1 {
  margin-top: 0;
}

.week-day {
  background-color: gray;
  padding-top: 10%;
  text-align: center;
}

.cal-header {
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  max-width: 100%;
  min-width: none;
}

input::placeholder {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.button {
  width: 100%;
}

.rotate-button {
  margin: auto;
  margin-top: 5% ;
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

@media (width <= 425px) {
  .cal-cover {
    margin-top: 30%;
    width: 90%;
  }

  .cal-grid {
    grid-template-columns: [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [sat] 1fr [sun] 1fr;
  }
}